@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700);

.pace .pace-progress {  background: #f00 !important; }
* { outline:0; }
::selection { background:#c8c8c8;color:#000; }
::-moz-selection { background:#c8c8c8;color:#000; }

html,body {
background:#f5f5f5;
color:#000;
font-family:"Open Sans", "Helvetica", "Arial", "Bitstream Vera Sans", "Verdana", sans-serif;
font-size:93.3%;
margin:0;
padding:0;
}

a {
color:#3a3a3a;
text-decoration:none;
transition:color 0.5s ease;
}

a:hover {
color:#0B0B0B;
text-decoration:none;
}

hr {
background-color:#5a70b3;
border:0;
clear:both;
color:#5a70b3;
height:1px;
}

table {
border-collapse:collapse;
border-spacing:0;
clear:both;
empty-cells:show;
width:100%;
}

th,td {
border-left: 0;
border-right: 0;
}

th {
background:#fff;
color:#777;
font-weight:400;
padding:3px 5px;
text-align:left;
}

td {
background:#fff;
color:#333;
padding:5px 10px;
}

th a,th a:hover {
color:#777;
font-weight:700;
}

h1 {
font-size:200%;
}

h2,h3 {
font-size:100%;
}

.category h2,.topic h2,#portal h2,#portal_foot h2,thead th {
background:#dce3e8;
background: -moz-linear-gradient(top,  rgba(222,229,234,1) 0%, rgba(214,222,228,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,229,234,1)), color-stop(100%,rgba(214,222,228,1)));
background: -webkit-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -o-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: linear-gradient(to bottom,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee5ea', endColorstr='#d6dee4',GradientType=0 );
color:#404040;
font-size:110%;
font-weight:700;
}

thead th {
border-bottom:1px solid rgba(32, 49, 62, 0.35);
padding:5px;
text-align:center;
}

h2.special {
background:#dce3e8;
background: -moz-linear-gradient(top,  rgba(222,229,234,1) 0%, rgba(214,222,228,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,229,234,1)), color-stop(100%,rgba(214,222,228,1)));
background: -webkit-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -o-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: linear-gradient(to bottom,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee5ea', endColorstr='#d6dee4',GradientType=0 );
}

#sign-out {
background:#292929;
border:0;
border-radius:5px;
box-shadow:inset 0px 2px 5px #000,0px 1px 1px #545454;
color:#cccccc;
padding:3px 5px;
vertical-align:middle;
}

button,a.btn_fake {
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
background-color:#f9f9f9;
border-radius:3px;
border:1px solid #dcdcdc;
cursor:pointer;
color:#666;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
padding:8px;
vertical-align:middle;
}

input,select,textarea {
background:#fff;
color:#2b2b2b;
padding:10px;
border:1px solid #b8c3c9;
border-radius:2px;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
}

input:focus,select:focus,textarea:focus {
border-color:#89979e !important;
box-shadow:0 0 1px 1px rgba(184, 195, 201, 0.25) !important;
}

textarea {
margin:auto;
width:98%;
}

input:focus,input.focus,textarea:focus,textarea.focus {
border-color:#5a70b3;
}

.submit_error {
background:#fff8eb;
border:1px solid #e77700;
}

#sign-out {
cursor: default;
font-size:90%;
overflow:visible;
width:auto;
border-top:2px solid #545454;
box-shadow:0px 1px 3px #000;
background:#414141 !important;
background:-moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(79,79,79,0.1) 100%) !important;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(79,79,79,0.1))) !important;
background:-webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.1) 100%) !important;
background:-o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.1) 100%) !important;
background:-ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.1) 100%) !important;
background:linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(79,79,79,0.1) 100%) !important;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#ffffff',GradientType=0 ) !important;
text-shadow:none;
}

button:hover,a.btn_fake:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
background-color:#e9e9e9;
}

button:active,a.btn_fake:active { position:relative;top:1px; }

button.btn_text {
background:none;
border:0;
cursor:pointer;
font-size:100%;
}

.notice {
background-color:#e6e599;
background-image:url(http://z5.ifrm.com/30232/152/0/p1119097/notice_bgleft.png),url(http://z5.ifrm.com/30232/152/0/p1119098/notice_bgright.png),url(http://z5.ifrm.com/30232/152/0/p1119096/notice_bgcenter.png);
background-repeat:no-repeat,no-repeat,repeat-x;
background-position:left,right,center;
height:48px;
color:#333;
margin:10px auto 0;
width:70%;
}

.notice dt {
color:#8CB5E7;
font-weight:700;
display:none;
}

.notice dd {
font-style:italic;
}

dl.info {
background-color:#cae699;
background-image:url(http://z5.ifrm.com/30232/152/0/p1119087/infodt_bgleft.png),url(http://z5.ifrm.com/30232/152/0/p1119088/infodt_bgright.png),url(http://z5.ifrm.com/30232/152/0/p1119086/infodt_bgcenter.png);
background-repeat:no-repeat,no-repeat,repeat-x;
background-position:left,right,center;
height:48px;
}

.info dt {
background:#5a70b3;
color:#fff;
display:none;
}

dl.error {
background-color:#e69999;
background-image:url(http://z5.ifrm.com/30232/152/0/p1119090/error_bgleft.png),url(http://z5.ifrm.com/30232/152/0/p1119091/error_bgright.png),url(http://z5.ifrm.com/30232/152/0/p1119089/error_bgcenter.png);
background-repeat:no-repeat,no-repeat,repeat-x;
background-position:left,right,center;
height:48px;
}

.error dt {
background:#e7e7e7;
color:#BC3737;
}

#top ul,#nav,ul.cat-pages,ul.cat-topicpages,table.calendar ul,div.meta_menu ul,#pm_folderlist,#profile_menuwrap ul {
list-style:none;
padding:0;
}

#profile_menuwrap ul,ul.cat-topicpages,blockquote dl,#fast-reply dd {
margin:0;
}

#top li,#nav li,ul.cat-pages li,ul.cat-topicpages li,table.calendar li,#pm_folderlist li,#profile_menuwrap li,#ucp_gallery li {
display:inline;
}

#top {
background:url(http://z5.ifrm.com/30232/152/0/p1119201/topbg.png) repeat-x top #303030;
height:50px;
padding:0 2% 4px;
margin-bottom:12px;
}

#top_info {
color:#fff;
float:left;
margin-top: 2px;
margin-left: -25px;
}

#top_menu {
float:right;
}

.drop_menu li {
float:left;
margin-right:1px;
text-align:center;
}

.drop_menu a {
color:#5a70b3;
display:block;
padding:4px .25em;
position:relative;
width:9em;
}

.drop_menu > li {
padding:5px;
padding-top:2px;
}

.drop_menu > li:hover {
background:#fff;
border-radius:5px 5px 0px 0px;
}

.drop_menu li:hover a {
color:#3d3d3d;
}

.drop_menu > li a {
padding-bottom:13px;
}

.drop_menu li:hover ul li:hover {
background:#f2f2f2;
}

.drop_menu a:hover {
color:#333333!important;
}

.drop_menu ul {
color:#fff;
left:-999em;
margin:0;
position:absolute;
width:15em;
margin-left:-5px;
}

.drop_menu ul li {
font-size:85%;
margin:0;
padding:0;
width:100%;
}

.drop_menu ul li a {
border-width:0 1px 1px;
display:block;
padding:4px 5%;
width:90%;
}

.drop_menu li > ul {
border-radius:0px 5px 5px 5px;
box-shadow:2px 3px 5px rgba(0,0,0,0.75);
}

.drop_menu li ul li a {
padding:10px;
}

.drop_menu li ul li a:hover {
background:#f2f2f2;
}

.drop_menu li ul li:first-child {
border-top-right-radius:5px!important;
}

.drop_menu li ul li:first-child a {
border-top-right-radius:5px!important;
}

.drop_menu li ul li:last-child {
border-bottom-right-radius:5px!important;
border-bottom-left-radius:5px!important;
}

.drop_menu li ul li:last-child a {
border-bottom-right-radius:5px!important;
border-bottom-left-radius:5px!important;
}

#logo {
display:none;
}

#submenu {
background:#fff;
position:relative;
text-align:center;
}

#submenu a {
color:#000!important;
display: inline-block;
text-decoration:none;
text-align:center;
padding:15px 25px;
transition:all 0.3s ease;
}

#submenu a:hover {
background:#f2f2f2;
}

#wrap {
background:#fff;
margin:50px 10% 30px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.29);
border-radius: 5px;
}

#nav {
background: rgb(234,234,237,0.5);
background: -moz-linear-gradient(top,  rgba(234,234,237,0.5) 0%, rgba(206,207,210,0.5) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,237,0.5)), color-stop(100%,rgba(206,207,210,0.5)));
background: -webkit-linear-gradient(top,  rgba(234,234,237,0.5) 0%,rgba(206,207,210,0.5) 100%);
background: -o-linear-gradient(top,  rgba(234,234,237,0.5) 0%,rgba(206,207,210,0.5) 100%);
background: -ms-linear-gradient(top,  rgba(234,234,237,0.5) 0%,rgba(206,207,210,0.5) 100%);
background: linear-gradient(to bottom,  rgba(234,234,237,0.5) 0%,rgba(206,207,210,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaed', endColorstr='#cecfd2',GradientType=0 );
list-style:none;
overflow:hidden;
border-bottom: 1px solid rgba(140, 140, 140, 0.5);
border-radius: 5px 5px 0 0;
color:#5a70b3;
height:45px;
line-height:45px;
padding:0;
margin:0;
}

#nav li {
float:left;
}

#nav li span a[href*="home"] { padding:0; }

#nav li a {
color: #9b9b9b;
position:relative;
display:block;
float:left;
transition:color 0.5s ease;
}

#nav li a:hover { color:#676666; }

#nav li:nth-child(2) a { padding-left:0px; }

#nav li span {
color: #676666;
float:right;
}

.meta_box {
background:#dce3e8;
background: -moz-linear-gradient(top,  rgba(222,229,234,1) 0%, rgba(214,222,228,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,229,234,1)), color-stop(100%,rgba(214,222,228,1)));
background: -webkit-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -o-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: linear-gradient(to bottom,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee5ea', endColorstr='#d6dee4',GradientType=0 );
color:#404040;
font-size:85%;
line-height:150%;
padding:10px 25px;
}

.meta_menu {
background:#F6F6F6;
border:1px solid #e7e7e7;
padding:0;
width:49%;
}

.meta_menu h3 {
background:#dce3e8;
background: -moz-linear-gradient(top,  rgba(222,229,234,1) 0%, rgba(214,222,228,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,229,234,1)), color-stop(100%,rgba(214,222,228,1)));
background: -webkit-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -o-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
background: linear-gradient(to bottom,  rgba(222,229,234,1) 0%,rgba(214,222,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee5ea', endColorstr='#d6dee4',GradientType=0 );
color:#404040;
border-bottom:1px solid rgba(32, 49, 62, 0.35);
padding:5px;
clear:both;
font-size:100%;
font-weight:700;
margin:-1px;
text-align:center;
}

.meta_menu a,.meta_menu a:hover {
color:#666;
}

ul.cat-pages {
float:left;
font-size:90%;
margin:15px 0;
padding: 5px 1px;
width:49%;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
background:#fff;
border:1px solid #e7e7e7;
color:#5a70b3;
}

.cat-pages a:hover,.cat-topicpages a:hover {
background:#f6f6f6;
color:#5a70b3;
}

.cat-pages span {
background:#5a70b3;
border:1px solid #3a5197;
color:#FFF;
cursor:default;
font-weight:700;
padding:2px 5px;
}

.cat-pages input {
background:#fff;
color:#5a70b3;
padding:3px 5px;
vertical-align:baseline;
}

ul.cat-topicpages {
float:right;
font-size:80%;
padding:1px 0;
}

tr.generic td,div.generic {
font-size:120%;
font-weight:700;
padding:20px;
text-align:center;
}

td.c_head,td.c_foot,td.c_sort {
color:#666;
font-size:80%;
}

td.c_desc {
background:#f6f6f6;
font-weight:700;
text-align:right;
vertical-align:middle;
width:200px;
}

td.c_desc small {
display:block;
font-weight:400;
}

tr.pm_new td {
background:#dce3e8;
font-weight:700;
}

tr.hidden td.c_post {
background:#D8DCEB;
}

.bday {
background:url(http://z5.ifrm.com/static/1/s_minibday.png) no-repeat;
color:#425384;
font-size:90%;
font-weight:700;
height:16px;
padding:2px 2px 2px 18px;
width:20px;
}

.c_mark {
background:#fff;
text-align:center;
width:1%;
}

.c_forum {
color:#3a3a3a;
font-size:80%;
width:60%;
}

.c_forum strong a,.c_last strong a {
color:#3a3a3a;
}

.c_forum strong a {
font-size:135%;
}

td.c_last {
background:#fff;
font-size:85%;
}

.c_forum-desc {
color:#333;
font-size:85%;
}

.c_last-title {
background:url(http://z5.ifrm.com/static/1/last.gif) no-repeat left;
display:block;
line-height:16px;
padding-left:10px;
}

td.c_info-v,td.c_info-t,td.c_info-r {
font-size:80%;
padding:5px;
text-align:center;
}

td.c_subforum {
background:#fff;
font-size:80%;
font-style:italic;
}

.cat_head td {
border-bottom-color: rgba(32, 49, 62, 0.35);
padding:0;
border-left: 0;
border-right: 0;
}

#stats .cat_head td {
border-bottom-color: rgba(32, 49, 62, 0.35);
}

.description {
color:#666;
font-size:85%;
}

a.member:hover {
color:#0B0B0B;
}

td#stats_events a,td#stats_events span {
padding:4px 0 4px 0px;
}

td#stats_events a:before,td#stats_events span:before {
font-family: FontAwesome;
content: "\f073";
padding-right:4px;
}

td.c_username {
background:#fff;
padding:2px 0;
text-align:center;
}

td.c_username a {
font-size:140%;
font-weight:700;
}

td.c_user {
font-size:80%;
}

td.c_user dl {
background:#f6f6f6;
border:1px solid #e7e7e7;
margin:10px 0;
padding:5px 7px;
width:160px;
}

dl.user_profile {
overflow:hidden;
word-wrap:break-word;
}

dl.user_profile dd {
font-style:italic;
margin-left:8px;
}

dl.user_info dd {
font-weight:700;
margin-bottom:1px;
}

#profile_menu ul {
margin-left:-5px;
border-top-left-radius:0px!important;
}

#profile_menu li ul li:first-child {
border-top-left-radius:0px !important;
}

#profile_menu li ul li {
width:98%;
}

#profile_menu a {
color:#404040;
padding:13px;
}

#profile_menu li li a {
border-top:0;
}

td.c_poll-choice label {
font-weight:700;
padding-left:1em;
}

td.c_poll-votes {
font-size:120%;
text-align:center;
width:15%;
}

td.c_poll-bar div {
background:url(http://z5.ifrm.com/static/1/poll_b.png) no-repeat right;
float:left;
height:12px;
padding-right:3px;
}

td.c_poll-bar span {
background:url(http://z5.ifrm.com/static/1/poll_l.png) no-repeat;
display:block;
float:left;
height:12px;
width:3px;
}

.editby,.queued {
border:1px dotted #e7e7e7;
color:#999;
font-size:85%;
font-style:italic;
margin-top:1em;
padding:3px 5px;
}

.queued {
background-color:#D8DCEB;
border-color:#5a70b3;
}

blockquote {
background:#f6f6f6;
border:1px solid #3a5197;
margin:10px auto;
padding-bottom:1px;
width:98%;
}

blockquote dl {
background:url(http://z5.ifrm.com/static/1/quote.png) repeat-x top #6677AF;
border-bottom:1px solid #3a5197;
color:#fff;
}

blockquote dl dt {
color:#fff;
float:left;
font-weight:700;
}

code {
background:#f6f6f6;
width: auto !important;
display:block;
font-family:Monaco, Consolas, "Courier New", Courier, monospace;
white-space:normal;
}

div.spoiler {
border:1px solid #5a70b3;
border-top:0;
padding:5px 7px;
}

div.spoiler_toggle {
background:url(http://z5.ifrm.com/static/1/quote.png) repeat-x top #6677AF;
border:1px solid #3a5197;
color:#fff;
cursor:pointer;
font-weight:700;
padding:2px 4px;
}

td.c_postinfo {
background:#fff;
color:#999;
font-size:80%;
vertical-align:middle;
}

td.c_sig {
color:#666;
font-size:80%;
}

td.c_sig img { max-width:100%; }

td.c_sig blockquote {
background:none transparent;
border:0;
border-left:3px solid #999;
padding-left:5px;
}

td.c_sig blockquote dl {
background:none transparent;
border:0;
color:#666;
}

td.c_sig blockquote dl dt,td.c_sig blockquote dl dd {
color:#666;
padding:0;
}

td.c_sig blockquote div {
background:transparent;
margin-left:5px;
padding:0;
}

tr.c_postfoot {
background:#f6f6f6;
clear:both;
}

td.c_footicons,td.c_postinfo {
width:100%;
}

td.c_username {
width:175px;
}

.c_next a {
display:block;
font-size:125%;
font-weight:700;
text-align:center;
}

td.c_view {
background:#f6f6f6;
color:#777;
}

div.c_view-list {
color:#999;
font-size:92.5%;
}

dl#fast-reply dt {
background:url(http://z5.ifrm.com/static/1/css/h2s.png) repeat-x top #FB9D3A;
border:1px solid #e77700;
color:#FFF;
font-size:110%;
font-weight:700;
margin:0;
padding:5px;
}

dl#fast-reply dd {
background:#fafafa;
border:1px solid #e7e7e7;
padding:15px 0;
text-align:center;
}

#c_post-preview {
background:#f6f6f6;
border:1px solid #BFC8E3;
margin:0 auto 10px;
padding:5px;
text-align:left;
width:98%;
}

#c_post-resize span {
color:#89979e;
cursor:pointer;
font-size:225%;
padding:20px 5px 0;
}

#emot_wrap {
background:#f6f6f6;
border:1px solid #e7e7e7;
}

#emot_wrap h3 {
background:url(http://z5.ifrm.com/static/1/sub.png) repeat-x top #f6f6f6;
border-bottom:1px solid #e7e7e7;
color:#999;
font-size:120%;
text-align:center;
}

#emot_end {
border-top:1px solid #e7e7e7;
display:block;
font-weight:700;
padding:4px 0;
text-align:center;
}

#pm_folders {
border-left:1px solid #e7e7e7;
border-right:1px solid #e7e7e7;
padding-top:30px;
vertical-align:top;
width:150px;
}

#pm_folderlist {
position: relative;
margin-left:0;
margin-top:0
}

#pm_folderlist li {
display:list-item;
margin-bottom:4px;
}

#pm_folderlist li:before {
content:"\f07b";
font-family:"FontAwesome";
margin-left:14px;
padding-right:5px;
}

#pm_forwarded {
border:1px dotted #e7e7e7;
color:#999;
font-size:90%;
font-style:italic;
margin-top:1em;
padding:3px 5px;
}

#ucp_gallery a {
color:#425384;
font-weight:700;
}

#ucp_gallery a:hover {
color:#5A70B3;
}

.calendar td.cal_inactive {
background:#f6f6f6;
color:#e7e7e7!important;
}

.calendar td div {
background:#f6f6f6;
border-bottom:1px solid #e7e7e7;
font-weight:700;
padding:5px 7px;
}

.calendar div a {
background:url(http://z5.ifrm.com/static/1/s_minibday.png) no-repeat 5px;
float:right;
font-size:80%;
font-weight:400;
padding:0 0 6px 24px;
}

.calendar li a,.calendar li span {
border-color:transparent;
border-style:solid;
border-width:1px;
display:block;
padding:3px;
}

.calendar td#cal_current {
background:#fff;
border:2px solid #5a70b3;
}

div.portal_content {
background:#fafafa;
border:1px solid #e7e7e7;
margin:0;
padding:5px 7px;
}

#portal h4 {
background:url(http://z5.ifrm.com/static/1/sub.png) repeat-x top #fafafa;
border-left:1px solid #e7e7e7;
border-right:1px solid #e7e7e7;
color:#777;
font-size:95%;
font-weight:400;
margin:0;
padding:5px 7px;
}

#faq dt a {
color:#425384;
font-size:120%;
font-weight:700;
}

#faq dd.faq_more a,#faq dl.faq_more a:hover {
color:#999;
font-style:italic;
}

.search_results {
background:#fafafa;
border:1px solid #e7e7e7;
margin-bottom:1em;
padding:5px 7px;
}

.search_results h3 {
display:inline;
font-size:125%;
}

.search_results cite,.search_results p {
color:#777;
font-size:85%;
margin:0;
}

#findposts .c_mark {
color:#5a70b3;
font-size:200%;
font-weight:700;
vertical-align:top;
}

#pmtoast {
display:none!important;
background:#fff;
border:2px solid #3a5197;
bottom:10px;
color:#333;
font-size:90%;
position:fixed;
right:10px;
text-align:right;
text-decoration:none;
width:200px;
z-index:1;
}

#pmtoast:hover {
border-color:#3a5197;
}

#pmlink {
background:url(http://z5.ifrm.com/static/1/toast.png) no-repeat 5px;
color:#5a70b3;
display:block;
padding:10px 10px 10px 55px;
text-decoration:none;
}

#pmlink big {
color:#5a70b3;
display:block;
font-weight:700;
padding-bottom:5px;
}

#pmlink strong {
color:#E77700;
}

#pmclose {
border-top:1px solid #3a5197;
color:#5a70b3;
display:block;
font-size:80%;
padding:1px 10px;
}

#pmclose:hover {
color:#3a5197;
}

#foot_wrap {
margin:20px 1px 20px 0;
background:#fafafa;
border-radius:0 0 5px 5px;
}

#foot_themechooser { border-radius:0 0 0 5px }

#foot td {
background:#fafafa;
border-bottom:1px solid #e7e7e7;
border-top:1px solid #e7e7e7;
border-left:0;
border-right:0;
color:#777;
font-size:80%;
}

#foot a,#foot a:hover {
color:#777;
}

#foot #foot_datetime {
border-left:1px solid #e7e7e7;
border-radius:0 0 5px 0;
width:1%;
white-space:nowrap;
}

#copyright {
color:#3a3a3a;
margin:0 0 5px 20px;
float:left;
}

#copyright a, #cpyrght a {
font-weight:700;
font-style:italic;
}

#copyright a:hover, #cpyrght a:hover {
border-bottom:1px dashed;
}

#cpyrght {
float:right;
margin:0 20px 5px 0;
}

#c_tos h3 {
color:#333;
font-size:120%;
}

td.username_ok {
background:#C7FFC5;
}

input.username_ok, input.username_ok:active {
border-color: #20B032 !important;
border-radius: 2px;
}

td.username_no {
background:#fae0e0;
}

input.username_no, input.username_no:active {
border-color: #E51818 !important;
border-radius: 2px;
}

a img {
border:0;
}

form {
display:inline;
margin:0;
padding:0;
}

.category h2,.topic h2,#portal h2 {
padding:10px;
text-align:left;
}

h3 {
padding:3px 0;
}

input[type=checkbox] {
background:transparent;
border:0;
padding:0;
vertical-align:bottom;
}

input[type=radio] {
border:0;
}

select {
margin:0 7px;
padding:5px;
vertical-align:baseline;
}

option {
margin:2px 0;
}

button.btn_img {
border:0;
cursor:pointer;
padding:0;
}

.notice dt,.notice dd {
padding:16px 7px;
}

.drop_menu a img {
vertical-align:bottom;
}

.drop_menu li:hover ul,.drop_menu li.hover ul {
left:auto;
background:#fff;
}

.drop_menu li:hover ul a {
color:#3d3d3d;
}

#main {
height:1%;
padding:0;
overflow-x: hidden;
}

#nav li img {
vertical-align:top;
}

.meta_box,.meta_menu {
margin:10px 0;
}

.meta_box li {
display:list-item;
list-style-position:inside;
list-style-type:square;
margin-left:10px;
}

.meta_menu ul {
font-size:90%;
margin:5px 5%;
}

.meta_menu img,.meta_menu span {
float:right;
margin:10px 20px;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
cursor:pointer;
padding:2px 5px;
}

.cat-topicpages a {
padding:0 2px;
}

.cat-buttons,.topic-buttons {
float:right;
margin:15px 0;
text-align:right;
width:50%;
}

tr.postbtn td {
padding:5px;
text-align:center;
}

.row1,.row2 {
line-height:1.4;
}

td.c_head input,td.c_head button,td.c_foot input,td.c_foot button,td.c_sort input,td.c_sort button {
padding:5px;
vertical-align:baseline;
}

td.c_desc img,td.c_desc input {
float:left;
vertical-align:middle;
}

.category {
margin:0;
}

span.collapse,span.uncollapse {
cursor:pointer;
float:right;
position:relative;
}

.c_mark img {
display:block;
margin:auto;
}

.c_last {
line-height:1.4;
min-width:300px;
width:30%;
}

.category td.c_foot {
height:10px;
display:none;
}

#stats td.c_foot { display:table-cell; }

#stats_members {
line-height:1.2;
}

td.c_cat-mark,td.c_cat-icon {
padding:5px 0;
text-align:center;
width:30px;
}

td.c_cat-starter {
width:125px;
}

td.c_cat-lastpost {
width:175px;
}

.c_user {
vertical-align:top;
width:1px;
min-width:175px;
max-width:175px;
}

.c_post {
width:100%;
}

.c_sig,.c_nosig {
width:100%;
}

.avatar {
border-radius:50%;
display:block;
margin:auto;
text-align:center;
}

.av_wrap {
overflow:hidden;
text-align:center;
margin:auto;
}

td.c_user .usertitle {
margin:3px 0;
overflow-x:hidden;
text-align:center;
}

.pip {
margin:3px 0;
white-space:nowrap;
}

dl.user_info dt,dl.user_info dd {
padding:.1em;
}

dl.user_info dt {
float:left;
margin:0;
min-width:4em;
}

dl.user_info dd.spacer,dl.user_profile dd.spacer {
clear:both;
float:none;
height:1px;
padding:0;
}

td.c_poll-choice {
line-height:1.5;
padding-left:45%;
}

td.c_poll-answer {
text-align:right;
width:42.5%;
}

td.c_poll-bar {
text-align:left;
vertical-align:middle;
width:42.5%;
}

* html td.c_poll-bar span {
margin-top:3px;
}

td.c_post {
line-height:1.7;
vertical-align:top;
}

 td.c_post ul {
list-style-type:square;
margin-left:10px;
}

.c_post img,#topic_review img {
max-width:90%;
}

.c_post-attachment {
font-size:83.3%;
margin-top:1em;
padding:1em;
}

.c_post-attachment dd {
margin-left:1em;
}

.post_sep {
font-size:1px;
height:1px;
}

td.c_sig,td.c_nosig {
height:0.5%;
vertical-align:top;
}

td.c_nosig {
border-top-style:hidden!important;
}

blockquote dl dt,blockquote dl dd {
padding:2px 4px;
}

blockquote div,blockquote code {
margin:0;
padding:5px;
}

dl#fast-reply {
clear:both;
margin:auto;
width:80%;
}

dl#fast-reply dd p {
margin:-3px;
padding:0 5% 10px;
text-align:left;
}

dl#fast-reply dd textarea {
display:block;
height:100px;
margin-bottom:10px;
padding:2px;
width:90%;
}

#c_post-text {
height:223px;
}

#c_post-resize {
float:right;
margin-top:-1px;
padding:4px 0 0;
text-align:right;
}

#btn_preview {
float:left;
margin:10px 0 0 1px;
}

#c_emot {
height:225px;
vertical-align:top;
width:210px;
}

#emot_list {
height:275px;
margin:0 auto;
overflow:auto;
padding:5px 0;
text-align:center;
}

div#emot_list {
padding:0;
}

#emot_list li {
display:inline;
padding:4px 10px;
}

#emot_list img {
cursor:pointer;
vertical-align:baseline;
}

.pm {
margin-bottom:1em;
}

#pm_datesent {
width:200px;
}

#pm_select {
text-align:center;
width:1px;
}

#conversation .c_post {
padding:2em;
}

#ucp_profile,#pm_messages {
float:right;
}

#ucp_settings img,#ucp_profile img {
margin:18px 20px;
}

#ucp_gallery li {
float:left;
margin:15px 5px;
}

#ucp_gallery button {
cursor:pointer;
text-align:center;
}

.ucp button.btn_text {
padding:5px 0;
text-align:center;
width:100%;
}

.calendar td {
height:125px;
padding:0;
vertical-align:top;
width:14.3%;
}

.calendar li {
display:list-item;
font-size:80%;
margin:0;
}

.calendar li.placeholder {
padding:4px;
}

.calendar li span {
cursor:default;
}

.calendar td#cal_current div {
padding-top:3px;
}

#portal_head {
margin-bottom:10px;
}

#portal_foot {
margin-top:10px;
}

#portal_l,#portal_r {
font-size:88.3%;
margin:0;
padding:0;
}

#portal_l {
float:left;
width:200px;
}

#portal_r {
float:right;
width:150px;
}

#portal_news {
margin:0 160px 0 210px;
}

#portal_clear {
background:transparent;
border:none;
clear:both;
font-size:1px;
height:1px;
margin:0;
padding:0;
}

.portal_box {
margin-bottom:5px;
padding:1px;
}

.portal_box table {
clear:none;
}

#portal h2,#portal_foot h2 {
clear:none;
margin:0;
padding:10px;
}

#faq {
margin:20px 0;
}

#faq dl {
padding:1em;
}

#faq dt {
margin-bottom:5px;
}

#faq dd {
display:list-item;
margin:0 0 3px 15px;
padding-left:3px;
}

.search_results div {
display:block;
margin:5px 0;
}

.category h2 a,#portal h2 a,#portal_foot h2 a,thead a,.category h2 a:hover,#portal h2 a:hover,#portal_foot h2 a:hover,thead a:hover {
color:#404040;
}

#top_info a,#top_info a:hover,.drop_menu a,.drop_menu a:hover {
color:#fff;
}

input,select,td,th {
font-size:90%;
}

button.btn_default,#nav li span,.c_post-attachment dt,#c_tos dt {
font-weight:700;
}

.meta_menu a:hover {
text-decoration:underline;
}

.meta_box h3,td.c_topicfoot strong,#meta_welcome strong {
font-size:120%;
}

.meta_box h3,.meta_box a,.meta_box a:hover,tr.pm_new td a,tr.pm_new td a:hover,tr.hidden td a,tr.hidden td a:hover,.c_forum strong a:hover,.c_last strong a:hover,#faq dt a:hover,.search_results h3 a,.search_results h3 a:hover {
color:#0B0B0B;
}

blockquote div {
background:#f6f6f6;
}

a.member,.calendar td a,.calendar a:hover,#faq dd a,#faq dd a:hover {
color:#3a3a3a;
}

img,.meta_box button img,td.c_cat-mark input,.c_post-attachment img,.warn img,#ucp_gallery a img {
vertical-align:middle;
}

h1,h2,h3,#nav,#boardmeta,#main {
clear:both;
margin:0;
}

#meta_welcome,.search_results {
clear:both;
}

#stats_events {
line-height:2;
}

.c_cat-starter,.c_cat-replies,.c_cat-views,td.c_poll-total,td.c_poll-vote,td.c_topicfoot,.warn,.ucp th,#c_notes,.calendar th {
text-align:center;
}

blockquote dl dd,#foot #foot_links {
text-align:right;
}

#c_post,#ucp_gallery {
text-align:center;
vertical-align:top;
}

#files_upload input,.pm .row1 a,.pm .row2 a,#ucp_gallery button img,#findposts td a {
display:block;
}

#ucp_settings,#pm_settings {
float:left;
}

#c_tos dd,#username_response {
margin-left:10px;
}

#vlx {
z-index:1;
}

#blog {
background:#5a70b3;
border:1px solid #3a5197;
color:#333;
margin:10px 0;
}

#blog blockquote {
background:none;
border:none;
font-size:85%;
padding:0 10px;
}

#blog h1 {
float:right;
}

#blog h2 {
background:none;
clear:none;
font-size:130%;
padding:0;
}

#blog h2,#blog h2 a,#blog h2 a:hover {
color:#5a70b3;
}

#blog_foot {
clear:both;
margin-bottom:20px;
}

#blog_head {
background:#f6f6f6;
border:8px solid #5a70b3;
padding:10px 14px;
}

#blog_head img.avatar {
display:inline;
}

#blog_main {
margin:20px 200px 10px 10px;
}

#blog_categories,#blog_readers,#blog_about,div.blog_options {
background:#f6f6f6;
margin:15px 0;
padding:5px 7px;
}

#blog_sidebar h3,#blog_sidebar dt {
color:#5a70b3;
font-weight:700;
}

#blog_sub {
background:#3a5197;
clear:both;
position:relative;
padding:5px 7px;
text-align:right;
}

#blog_sub span {
padding-top:4px;
}

#blog_sidebar {
background:#3a5197;
float:right;
font-size:93.3%;
margin:20px 10px 0 0;
padding:0 10px;
width:160px;
}

#blog_sidebar dd {
margin-left:10px;
}

#blog_user {
font-size:175%;
}

div.blog_options {
font-size:90%;
text-align:right;
}

div.blog_date {
background:#f6f6f6;
border:1px solid #3a5197;
color:#5a70b3;
float:right;
font-weight:700;
margin:0 15px;
text-align:center;
text-transform:uppercase;
width:40px;
}

div.blog_date span {
background:#fafafa;
border-top:1px solid #e7e7e7;
color:#e77700;
display:block;
font-size:130%;
font-weight:700;
padding:2px 4px;
}

div.blog_entry {
background:#fff;
margin:10px 0;
padding:5px 7px;
}

#blog_comments li {
padding:5px 7px;
}

#shoutwrap {
background:#fafafa;
border:1px solid #e7e7e7;
font-size:88.3%;
}

#shoutwrap td {
padding:0;
}

#shoutbox {
list-style-type:none;
margin:0;
padding:0;
}

#shoutbox li {
padding:5px 7px;
}

#shoutbox dl,#shoutbox dt,#shoutbox dd {
margin:0;
padding:0;
}

#shoutbox dt {
color:#777;
font-size:80%;
}

#shoutopts,#shoutpost {
clear:both;
text-align:center;
}

#top_logo {
display:inline;
}

#topinfo {
clear:both;
top:54px;
position:relative;
height:100px;
padding:20px;
}

#topinfo img { width:50px;height:50px;border-radius:50%;border: 1px solid #fff;box-shadow: 0px 2px 1px rgba(0,0,0,0.4); }

#topinfo small {
font-style:italic;
}

#menuSearch {
height:50px;
float:right;
margin:0px 10px;
}

#srch-val {
height:30px;
margin-top:7px;
background: url(http://z5.ifrm.com/30232/152/0/p1193529/search_bg.png) no-repeat left 10px center #292929 !important;
text-indent: 30px;
border:0;
border-radius:5px;
box-shadow:inset 0px 2px 5px #000,0px 1px 1px #545454;
color:#cccccc;
padding:3px 5px;
vertical-align:middle;
}

#srch-val:focus {
box-shadow:inset 0px 2px 5px #000,0px 1px 1px #545454 !important;
}

#sign-out {
background-image:url(http://z5.ifrm.com/30232/152/0/p1193644/sign_out.png) !important;
background-repeat:no-repeat !important;
background-position:left 6px center !important;
background-color:rgba(79,79,79,0.5) !important;
float:right;
margin:7px 8px 0px 10px;
height:36px;
padding:0 10px 0 25px;
}

#super_pm {
display:none!important;
}

#menu_pm > a strong small, #menu_rcp > a strong small {
color:#fff;
background: rgb(250,60,69);
background: -moz-linear-gradient(top,  rgba(250,60,69,1) 0%, rgba(220,13,23,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,60,69,1)), color-stop(100%,rgba(220,13,23,1)));
background: -webkit-linear-gradient(top,  rgba(250,60,69,1) 0%,rgba(220,13,23,1) 100%);
background: -o-linear-gradient(top,  rgba(250,60,69,1) 0%,rgba(220,13,23,1) 100%);
background: -ms-linear-gradient(top,  rgba(250,60,69,1) 0%,rgba(220,13,23,1) 100%);
background: linear-gradient(to bottom,  rgba(250,60,69,1) 0%,rgba(220,13,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3c45', endColorstr='#dc0d17',GradientType=0 );
padding:2px 5px;
border-radius:2px;
box-shadow:0px 1px 4px rgba(0,0,0,0.5), inset 0px 2px 2px #f14d5d;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);
}

#msgAjaxBox {
background:#bd2d2d;
height:100px;
width:450px;
position:fixed;
top:60px;
right:10px;
z-index:100;
}

#pm-popup {
width: 200px;
background: #f9fcff;
margin-left: 50%;
padding:5px;
border: 2px solid grey;
border-radius:3px;
position:relative;
}

#pm-popup:after, #pm-popup:before {
bottom: 100%;
left: 70%;
border:solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

#pm-popup:after {
border-color: rgba(249, 252, 255, 0);
border-bottom-color: #f9fcff;
border-width: 10px;
margin-left: 0px;
}

#pm-popup:before {
border-color: transparent;
border-bottom-color: grey;
border-width: 13px;
margin-left: -3px;
}

#pm-popup img {
width:40px;
height:40px;
border-radius: 3px;
}

#msgList1 {
height: 45px;
border-bottom: 2px dashed rgba(56, 55, 55, 0.15);
}

#senderAvatar1, #senderAvatar2 {
float:left;
background: #c2c2c2;
box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 3px;
margin-right: 5px;
}

#msgList2 {
clear:both;
height:47px;
margin-top: 5px;
border-bottom:2px dashed rgba(56, 55, 55, 0.15);
}

#senderName1, #senderName2 {
font-weight:bold;
color:#333333;
}

#senderMsgSubject1, #senderMsgSubject2 {
color:#404040;
}

#pm-popup-footer {
font-size:8pt;
text-align:center;
margin-top:5px;
}

#pm-popup-wrapper {
position: fixed;
right: 445px;
top: 50px;
display:none;
z-index:200;
}

#pm-popup-fail {
text-align:center;
font-size:10pt;
border-bottom:2px dashed grey;
padding:10px 10px 1px 10px;
color:#404040;
}

#pm-popup-fail a {
font-weight:bold;
-webkit-transition: -webkit-transform 0.5s ease;
-moz-transition: -moz-transform 0.5s ease;
-o-transition: -o-transform 0.5s ease;
transition: transform 0.5s ease;
color:#333333;
}

#pm-popup-fail a:hover {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
display:inline-block;
}

#pm-popup-nomsg {
text-align:center;
font-size:10pt;
border-bottom:2px dashed grey;
padding:10px;
color:#404040;
}

span.close-notice {
cursor:pointer;
}

#topmenu-wrap {
position:fixed;
width:100%;
z-index:100;
}

#login-box {
position:fixed;
top: 0%;
left: 50%;
margin-left: -160px;
margin-top: -105px;
border:1px;
}

#login-box table { display:block; }

#login-box h2 span.right {
cursor:pointer;
}

.pop-register { display:block;margin-top:20px;margin-bottom:-10px;font-style:italic; }

#overlay {
position:fixed;
background:rgba(0, 0, 0, 0.95);
top:0;
left:0;
width:100%;
height:100%;
z-index:200;
}

#mobile-header, #mobile-nav {
display: none;
}

@media only screen and (max-width: 1220px){
#mobile-header {
display: block;
position:relative;
float:left;
padding:8px;
background:rgba(0,0,0,0.45);
top:9px;
left:8px;
margin-right:10px;
border-radius:5px;
box-shadow:inset 0px 2px 5px #000,0px 1px 1px #545454;
}
#top_menu, #top_info {
display:none !important;
}
#topmenu-wrap #menuSearch { display:none }
}

@media only screen and (max-width: 562px){
#wrap { margin:12px 2% 30px !important; }
table { table-layout:fixed; }
table.posts { display:block;overflow-x:auto; }
.c_mark { visibility:hidden; }
#stats .c_mark { display:none; }
.c_last, .c_info { word-wrap:break-word; }
#shoutwrap td { display:table-row; }
#shoutwrap input { width:90%; }
#foot #foot_datetime {width:30%;white-space:pre-wrap;border-bottom:0 !important;}
#foot_themechooser { display:block;text-align:center;border-radius:0 !important; }
#foot_links { display:inline-block;text-align:center;border:0 !important;border-radius:0 0 0 5px; }
.cat-buttons { text-align:center;width:100%!important; }
}

@media only screen and (min-width: 1221px){
#menuSearch { display:block !important; }
}

.menu {
background:#202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
left: -280px;
height: 100%;
position: fixed;
width: 280px;
z-index:1000;
overflow-y:auto;
}

.menu #menuSearch { float:left;margin:4px 15px; }
.menu #srch-val { height:40px;width:100%; }
.menu > ul { clear:both; }

body {
left: 0;
margin: 0;
overflow-x:hidden;
position: relative;
}

.menu ul {
list-style: none;
margin: 0;
padding: 0;
}

.menu li {
line-height: 45px;
padding-bottom: 3px;
padding-left: 15px;
padding-top: 3px;
}

.menu li ul {
padding-left:10px;
}

.menu a {
color: #fff;
font-size: 15px;
text-decoration: none;
text-transform: uppercase;
}

.icon-close {
cursor: pointer;
padding-left: 10px;
min-height:54px;
max-height:54px;
}

.icon-close i {
padding-top:14px;
color:#1FBAD6;
}

span.fa_btn_small, span.fa_btn_big {
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
background-color:#f9f9f9;
border-radius:3px;
border:1px solid #dcdcdc;
cursor:pointer;
color:#666666;
text-transform:capitalize;
text-shadow:0px 1px 0px #ffffff;
}

span.fa_btn_small:hover, span.fa_btn_big:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
background-color:#e9e9e9;
}

span.fa_btn_small:active,span.fa_btn_big:active { position:relative;top:1px; }

span.fa_btn_small {
padding:3px 5px;
}

span.fa_btn_big {
padding:10px;
margin-right:10px;
}

span.sub_arrow {
float:right;
padding:20px;
}

#acplogin {
background:#2c3338;
position: fixed;
width: 100%;
height: 100%;
}

#acplogin:before {
content: "Login to Administrator Control Panel by using the form below";
background:url(http://z5.ifrm.com/30232/152/0/p1264872/cp.png) no-repeat left,url(http://z5.ifrm.com/30232/152/0/p1264873/cp1.png) no-repeat right;
padding-left:5px;
box-shadow:0px 0px 15px #000;
text-shadow:2px 2px 3px #000;
font-size:14pt;
padding:20px 0px;
text-transform:uppercase;
height:20px;
width:100%;
position:fixed;
text-align:center;
color:#eee;
}

#acplogin h1 { display:none; }

#loginform tr:first-child td:last-child:before {
content:url(http://z5.ifrm.com/30232/152/0/p1264869/fa_user.png);
position:absolute;
background: #363b41;
padding: 19px 0px 0px 19px;
width: 33px;
height: 31px;
border-radius: 3px 0px 0px 3px;
}

#loginform tr:nth-child(2) td:last-child:before {
content:url(http://z5.ifrm.com/30232/152/0/p1264868/fa_lock.png);
position:absolute;
background: #363b41;
padding: 19px 0px 0px 19px;
width: 33px;
height: 31px;
border-radius: 3px 0px 0px 3px;
}

#loginform td.c_mark, #loginform td.c_desc {
display:none;
}

#loginform table {
width:300px;
height:180px;
position:fixed;
left:50%;
top:50%;
margin-left:-150px;
margin-top:-90px;
}

#loginform input {
text-indent:60px;
background-color:#3b4148;
width:280px;
color:#606468;
height: 50px;
border: 0;
padding: 0;
font-size:14pt;
border-radius:5px!important;
}

#loginform input:hover, #loginform input:focus, #loginform input:active {
border:0!important;
box-shadow:none!important;
}

#loginform td {
background:transparent!important;
border:0!important;
}

#loginform th {
display:none;
}

#loginform button {
box-shadow:none;
border-radius: 3px;
background: #ea4c88!important;
border: 0!important;
color: #eee!important;
font-size:12pt;
height: 50px;
text-transform: uppercase;
width: 280px;
}

#loginform button:hover {
background:#d44179!important;
}

.sright { float:right; }
.sleft { float:left; }

#topinfo-wrapper {
background:#fff;
box-shadow:0px 1px 1px rgba(0,0,0,0.4);
border-radius:5px;
padding:10px;
vertical-align:middle;
margin-left:15px;
position:relative;
}

#topinfo-wrapper:after, #topinfo-wrapper:before {
right: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

#topinfo-wrapper:after {
border-color:transparent;
border-right-color:#fff;
border-width:9px;
margin-top:-9px;
}

#topinfo-wrapper:before {
border-color: transparent;
border-right-color: #ccc;
border-width: 10px;
margin-top: -10px;
}

.n-user_info { font-size:16px }
.n-user_info dt { font-family:"FontAwesome";font-size:0; }
.n-user_info dt:nth-of-type(1):before { content:"\f040";font-size:20px; }
.n-user_info dt:nth-of-type(2):before { content:"\f0c0";font-size:20px; }
.n-user_info dt:nth-of-type(3):before { content:"\f007";font-size:20px; }
.n-user_info dt:nth-of-type(4):before { content:"\f0a1";font-size:20px; }
.n-user_info dt:nth-of-type(5):before { content:"\f0ac";font-size:20px; }

.poster_info { padding:25px; }
